In [1]:
import nltk
import string
import numpy as np
import pandas as pd


from nltk import word_tokenize
from nltk import pos_tag, sent_tokenize, wordpunct_tokenize
from nltk.corpus import wordnet

from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

For this assignment, I have analyzed the comments on pages 307-426 of the entry-level luxury performance sedans discussion on Edmunds. Adding pi to the end of the following link would result in the URL related to page i of the discussion.

https://forums.edmunds.com/discussion/2864/general/x/entry-level-luxury-performance-sedans/

In [2]:
path1 = '/content/drive/MyDrive/Datasets/manufacturers.csv'
path2 = '/content/drive/MyDrive/Datasets/reviews.csv'

df_comp = pd.read_csv(path1)
df_rev = pd.read_csv(path2)

In [3]:
df_comp.head()

  manufacturer
0         SNVI
1      Zanella
2       Koller
3   Anasagasti
4   AutoLatina

In [4]:
df_rev.head()

,date,user_id,review_text
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...

In [5]:
names = df_comp['manufacturer'].tolist()
names

['SNVI',
 'Zanella',
 'Koller',
 'Anasagasti',
 'AutoLatina',
 'Autoar',
 'Crespi',
 'Eniak',
 'Hispano-Argentina',
 'IAVA',
 'IAME',
 'IKA',
 'Sevel Argentina',
 'SIAM Di Tella',
 'ErAZ',
 'ACE EV Group',
 'Borland Racing Developments',
 'Bolwell',
 'Brabham Automotive',
 'Ford Australia',
 'General Motors Special Vehicles (GMSV)',
 'Elfin Sports Cars',
 'Ford Performance Vehicles (FPV)',
 'Giocattolo',
 'Holden',
 'KTM',
 'Magna Steyr',
 'Puch',
 'Tushek & Spigel',
 'Austro-Daimler',
 'Austro-Tatra',
 'Denzel',
 'Felber',
 'Libelle',
 'Lohner–Porsche',
 'Möve',
 'ÖAF',
 'Steyr',
 'Steyr-Daimler-Puch',
 'AzSamand',
 'Ganja Auto Plant',
 'Nakhchivan Automobile Plant',
 'BMTF',
 'BelAZ',
 'BelGee',
 'MAZ',
 'MoAZ',
 'MZKT',
 'Neman',
 'Gillet',
 'Van Hool',
 'Auto-Mixte',
 'FN',
 'Imperia',
 'Métallurgique',
 'Minerva',
 'Nagant',
 'Pieper',
 'Agrale',
 'Comil',
 'Marcopolo',
 'Mascarello',
 'Neobus',
 'TAC',
 'Brasinca',
 'Busscar',
 'Dacon',
 'Engesa',
 'FNM',
 'Farus',
 'Gurgel',
 'HTT',
 'Hofstetter',
 'JPX',
 'Lobini',
 'Obvio!',
 'Puma',
 'Romi',
 'Santa Matilde',
 'Troller',
 'Vemag',
 'Bulgaralpine',
 'Bulgarrenault',
 'Moskvych',
 'Pirin-Fiat',
 'Sofia',
 'Bombardier',
 'Campagna',
 'Felino Corporation',
 'Intermeccanica',
 'INKAS',
 'New Flyer',
 'Nova Bus',
 'Prevost',
 'Terradyne',
 'Acadian',
 'Asüna',
 'Beaumont',
 'Bricklin',
 'Brooks',
 'Can-Am',
 'Dennis',
 'Derby',
 'Dupont',
 'Dynasty',
 'Envoy',
 'Frontenac',
 'Gray-Dort',
 'Hayes Trucks',
 'Manic',
 'McLaughlin',
 'Meteor',
 'Monarch',
 'Orion',
 'Pacific Trucks',
 'Passport',
 'Redpath',
 'Russell',
 'Studebaker',
 'ZENN',
 'Arcfox',
 'Aion',
 'Apex Motors',
 'BAIC',
 'Baojun',
 'BAW',
 'Bestune',
 'Brilliance',
 'BYD',
 'Changan',
 'Changhe',
 'Chery',
 'CNHTC',
 'Dongfeng',
 'Englon',
 'EuAuto',
 'Everus',
 'FAW',
 'Hongqi',
 'Foton',
 'GAC Fiat',
 'Geely',
 'Gonow',
 'Great Wall',
 'Hafei',
 'Haima',
 'Hanteng',
 'Hawtai',
 'Haval',
 'Heibao',
 'Higer',
 'JAC Motors',
 'Jiangling',
 'Jinbei',
 'Jonway',
 'Karry',
 'Landwind',
 'Leahead',
 'Lifan',
 'Li Auto',
 'Luxgen',
 'Nio',
 'Qoros',
 'Roewe',
 'SAIC',
 'Sehol',
 'Shacman',
 'Soueast',
 'Trumpchi',
 'Wuling',
 'Voyah',
 'Xpeng',
 'Yudo Auto',
 'Yutong',
 'Zhongtong Bus',
 'Zinoro',
 'Zotye',
 'ZX Auto',
 'DOK-ING',
 'Rimac',
 'Škoda',
 'Tatra',
 'Avia',
 'Kaipan',
 'MTX',
 'Praga',
 'Aero',
 'Jawa',
 'LIAZ',
 'Velorex',
 'Walter Fiat',
 'Marathon Motors Engineering',
 'Holland Car',
 'Valmet Automotive',
 'Electric Raceabout',
 'Toroidion',
 'Sisu Auto',
 'Aixam',
 'Alpine',
 'Auverland',
 'Bolloré',
 'Bugatti',
 'Citroën',
 'Exagon',
 'Hommell',
 'Ligier',
 'Microcar',
 'Méga',
 'Peugeot',
 'PGO',
 'Renault',
 'Venturi',
 'Aérocarène',
 'Bellanger',
 'Berliet',
 'Chenard-Walcker',
 'Decauville',
 'De Dion-Bouton',
 'Delage',
 'Delahaye',
 'Delaunay-Belleville',
 'Facel Vega',
 'Helicron',
 'Hommell',
 'Lorraine-Dietrich',
 'Matra',
 'Mors',
 'Panhard',
 'Rochet-Schneider',
 'Simca',
 'Talbot',
 'Talbot-Lago',
 'Alpina',
 'Apollo',
 'Artega',
 'Audi',
 'Bitter',
 'BMW',
 'Daimler Truck',
 'Fuso',
 'Isdera',
 'Lotec',
 'MAN',
 'Mercedes-Benz',
 'Multicar',
 'Neoplan',
 'Opel',
 'Ruf',
 'Porsche',
 'Setra',
 'Smart',
 'Volkswagen',
 'Wiesmann',
 'Adler',
 'AGA',
 'Auto Union',
 'AWS',
 'AWZ',
 'Barkas',
 'Borgward',
 'Brennabor',
 'Büssing',
 'Dauer',
 'DKW',
 'Glas',
 'Goliath',
 'Gumpert',
 'Hanomag',
 'Hansa',
 'Heinkel',
 'Horch',
 'Karmann',
 'Lloyd',
 'Maybach',
 'Melkus',
 'Messerschmitt',
 'NAG',
 'NSU',
 'Robur',
 'Simson',
 'Stoewer',
 'Tempo',
 'Trabant',
 'Wanderer',
 'Wartburg',
 'Zundapp',
 'ELVO',
 'Korres',
 'Namco',
 'Replicar Hellas',
 'Sfakianakis',
 'Tangalakis-Temax',
 'Alta',
 'Attica',
 'Autokinitoviomihania Ellados',
 'Automeccanica',
 'Balkania',
 'BET',
 'Biamax',
 'BIOMAN',
 'DIM',
 'MAVA-Renault',
 'MEBEA',
 'Neorion',
 'Pan-Car',
 'Theologou',
 'Ajanta Group',
 'Ashok Leyland',
 'Asia MotorWorks',
 'Atul Auto',
 'AVANI',
 'Bajaj',
 'Eicher',
 'Force',
 'Hindustan',
 'Hradyesh',
 'ICML',
 'KAL',
 'Mahindra',
 'Maruti Suzuki',
 'Omega Seiki Mobility',
 'Tara International',
 'Tata',
 'TVS',
 'Chinkara',
 'Hero',
 'Ideal Jawa',
 'Kinetic Engineering Limited',
 'Lohia Machinery',
 'Mopeds India Limited',
 'Premier',
 'Sipani',
 'Standard',
 'Swaraj Mazda',
 'TMC',
 'Alesbury',
 'Crosslé',
 'Shamrock (car)',
 'Bahman',
 'Iran Khodro',
 'Kish Khodro',
 'MVM',
 'Pars Khodro',
 'SAIPA',
 'Autocars',
 'Carmor',
 'Plasan',
 'Abarth',
 'Alfa Romeo',
 'Bremach',
 'Casalini',
 'Covini',
 'CTS',
 'DR Motor',
 'Ducati',
 'Ferrari',
 'Fiat',
 'Iso',
 'Italdesign',
 'Iveco',
 'Lancia',
 'Lamborghini',
 'Maserati',
 'Mazzanti',
 'Minardi',
 'Pagani',
 'Piaggio',
 'Pininfarina',
 'Vespa',
 'Zagato',
 'APIS',
 'Ansaldo',
 'Aquila',
 'A.S.A.',
 'A.T.S.',
 'Autobianchi',
 'Aurea',
 'Bandini',
 'Bertone',
 'Bizzarrini',
 'Ceirano',
 'Chiribiri',
 'Cisitalia',
 'Cizeta',
 'De Tomaso',
 'Diatto',
 'FCA',
 'F.L.A.G.',
 'Fornasari',
 'Innocenti',
 'Intermeccanica',
 'Iso Milano',
 'Isotta Fraschini',
 'Itala',
 'Junior',
 'Lambretta',
 'LMX',
 'Marca-Tre-Spade',
 'Moretti',
 'Nardi',
 'O.M.',
 'O.S.C.A.',
 'Qvale',
 'Scuderia Ferrari',
 'Rapid',
 'S.C.A.T.',
 'Siata',
 'S.P.A.',
 'Stanguellini',
 'Storero',
 'Vignale',
 'Volugrafo',
 'Zust',
 'Acura',
 'Aspark',
 'Autobacs Seven',
 'Daihatsu',
 'Dome',
 'GLM',
 'Hino',
 'Honda',
 'Infiniti',
 'Isuzu',
 'Kawasaki',
 'Lexus',
 'Mazda',
 'Mitsubishi Motors',
 'Mitsubishi Fuso',
 'Mitsuoka',
 'Nissan',
 'Subaru',
 'Suzuki',
 'Tommykaira',
 'Toyota',
 'UD Trucks',
 'Yamaha',
 'Asahi',
 'Autozam',
 'Datsun',
 'Eunos',
 'Ohta',
 'Otomo',
 'Prince',
 'Dartz',
 'Bufori',
 'DefTech',
 'Inokom',
 'Modenas',
 'Naza',
 'Perodua',
 'Proton',
 'DINA',
 'Mastretta',
 'VUHL',
 'Ramirez',
 'VAM',
 'Laraki',
 'Renault Somaca',
 'Fiat Somaca',
 'Burton',
 'Carver',
 'DAF',
 'Dakar',
 'Donkervoort',
 'Spijkstaal',
 'Spyker',
 'Stellantis',
 'Vandenbrink',
 'VDL Berkhof',
 'Vencer',
 'Anziel',
 'Saker Cars',
 'Trekka',
 'Pyeonghwa Motors',
 'Sungri Motors',
 'Samhung Motors',
 'Heavy Industries Taxila',
 'Sazgar',
 'United Auto Industries',
 'Adam Motor Company',
 'Dewan Farooque Motors',
 'Nexus Automotive',
 'Almazora Motors',
 'Del Monte Motors',
 'Sarao Motors',
 'Delta',
 'AMZ',
 'Arrinera',
 'Autosan',
 'Jelcz',
 'Solaris',
 'Ursus',
 'FSC Żuk',
 'FSM',
 'FSO',
 'FSR Tarpan',
 'Intrall',
 'Polski Fiat',
 'Star',
 'Syrena',
 'Warszawa',
 'ZSD Nysa',
 'Vinci',
 'Bravia',
 'Portaro',
 'UMM',
 'Edfor',
 'Dacia',
 'ROMAN',
 'ARO',
 'Oltcit',
 'Rocar',
 'Avtotor',
 'GAZ',
 'IZh',
 'Kamaz',
 'Lada',
 'LiAZ',
 'PAZ',
 'Sollers',
 'UAZ',
 'Amur',
 'Avtoframos',
 'Derways',
 'GAZ (Volga)',
 'Marussia',
 'Moskvitch',
 'Russo-Balt',
 'SeAZ',
 'SMZ',
 'TagAZ',
 'Yo-Mobile',
 'ZiL',
 'FAP',
 'FAS',
 'Ikarbus',
 'IMT',
 'Neobus',
 'Zastava',
 'IDA',
 'Yugo',
 'Advanced Automotive Design',
 'Perana Performance Group',
 'AAD',
 'CT&T United',
 'Daewoo Bus',
 'Genesis',
 'GM Korea',
 'Hyundai',
 'Kia',
 'Renault Samsung',
 'SsangYong',
 'Tata Daewoo',
 'Asia Motors',
 'Daewoo',
 'Keohwa',
 'Proto',
 'Saehan',
 'Samsung',
 'Shinjin',
 'Sibal',
 'Abadal',
 'Aspid',
 'Cupra',
 'GTA',
 'Irizar',
 'SEAT',
 'Spania',
 'Tauro',
 'Tramontana',
 'Uro',
 'Hispano Suiza',
 'Koenigsegg',
 'NEVS',
 'Polestar',
 'Scania',
 'Uniti',
 'Volvo Buses',
 'Volvo Cars',
 'Volvo Trucks',
 'Jösse Car',
 'Saab',
 'Leblanc',
 'Rinspeed',
 'Sbarro',
 'Enzmann',
 'Martini',
 'Monteverdi',
 'Pic-Pic',
 'Soletta',
 'CMC',
 'Luxgen',
 'Yulon',
 'Thai Rung',
 'BMC',
 'Diardi',
 'Erkunt',
 'Etox',
 'Fiat-Tofaş',
 'FNSS',
 'Guleryuz',
 'Karsan',
 'Otokar',
 'Özaltin',
 'Pancar Motor',
 'Temsa',
 'TOGG',
 'Anadol',
 'Devrim',
 'Bohdan',
 'Etalon',
 'KrAZ',
 'LAZ',
 'ZAZ',
 'LuAZ',
 'W Motors',
 'Ajlani Motors',
 'AC',
 'Alexander Dennis',
 'Apex Motors',
 'Ariel',
 'Aston Martin',
 'Atalanta Motors',
 'BAC',
 'Bentley',
 'Bowler',
 'Caterham',
 'David Brown Automotive',
 'Ginetta',
 'GKD',
 'Grinnall',
 'Healey',
 'Jaguar',
 'Lagonda',
 'Larmar',
 'Land Rover',
 'Lister',
 'Lotus',
 'McLaren',
 'MG',
 'Mini',
 'Modec',
 'Morgan',
 'Noble',
 'Radical Sportscars',
 'Rolls-Royce',
 'Ronart Cars',
 'TVR',
 'Ultima Sports',
 'Vauxhall',
 'Westfield',
 "Adam's Brothers",
 'AEC',
 'Allard',
 'Alvis',
 'Austin',
 'Austin-Healey',
 'British Leyland',
 'Bristol',
 'Daimler',
 'Donald Healey',
 'Elva',
 'Gordon Keeble',
 'Hillman',
 'Humber',
 'Jensen',
 'Jowett',
 'Lanchester',
 'Marcos',
 'Morris',
 'Panther Westwinds',
 'Reliant Motors',
 'Riley',
 'Rootes',
 'Rover',
 'Sharps Commercials Ltd',
 'Singer',
 'Standard',
 'Sunbeam',
 'Trident Cars',
 'Triumph',
 'Trojan',
 'Wolseley',
 'All American Racers',
 'AM General',
 'Anteros Coachworks',
 'Aptera',
 'Arcimoto',
 'Autocar',
 'Bremach',
 'Buick',
 'Cadillac',
 'Callaway',
 'Canoo',
 'Chevrolet',
 'Chrysler',
 'Detroit Electric',
 'Dodge',
 'E-Z-GO',
 'ElDorado',
 'ENC',
 'Falcon Motorsports',
 'Faraday',
 'FCA',
 'Fisker',
 'Ford',
 'Freightliner',
 'Gillig',
 'GM',
 'Google',
 'GEM',
 'GMC',
 'Hennessey',
 'Jeep',
 'Karma',
 'Kenworth',
 'Lincoln',
 'Lordstown Motors',
 'Lucid Motors',
 'Mack',
 'MCI',
 'Navistar',
 'Nikola Motor',
 'Oshkosh',
 'Panoz',
 'Peterbilt',
 'Pierce',
 'Polaris',
 'Proterra',
 'Ram',
 'RAESR',
 'Rezvani Motors',
 'Rivian',
 'Rossion',
 'Saleen',
 'SCG',
 'Shelby',
 'SRT',
 'SSC',
 'Tesla',
 'Thomas Built Buses',
 'Trion Supercars',
 'VLF Automotive',
 'Western Star',
 'Workhorse',
 'Adams-Farwell',
 'Alco',
 'AMC',
 'Amplex',
 'Apollo',
 'Apperson',
 'Aptera',
 'ArBenz',
 'Auburn',
 'Avanti Motor Company',
 'Baker Electric',
 'Bates',
 'Brush',
 'Cartercar',
 'Chalmers',
 'Chandler',
 'Chaparral Cars',
 'Checker',
 'Clénet',
 'Cole',
 'Columbia',
 'Continental',
 'Cord',
 'Crawford',
 'Crosley',
 'Cutting',
 'Daniels',
 'Davis',
 'Devon',
 'DeLorean',
 'DeSoto',
 'Diamond Reo Trucks',
 'Doble',
 'Dorris',
 'Dort',
 'Duesenberg',
 'Durant',
 'Dymaxion',
 'Eagle',
 'Edsel',
 'Elgin',
 'Essex',
 'Excalibur',
 'Flint',
 'Frazer',
 'Frontenac',
 'Gardner',
 'Geo',
 'Graham-Paige',
 'Grumman',
 'Haynes',
 'Hudson',
 'Hummer',
 'Hupmobile',
 'Hupp-Yeats',
 'Imperial',
 'International Harvester',
 'Inter-State',
 'Jackson',
 'Jeffery',
 'Kaiser',
 'King',
 'Kissel',
 'Kline Kar',
 'Knox',
 'LaFayette',
 'Laforza',
 'Lambert',
 'LaSalle',
 'Lexington',
 'Local',
 'Locomobile',
 'Lozier',
 'Lyons-Knight',
 'Marmon',
 'Marmon',
 'Marmon-Herrington',
 'Maxwell',
 'McFarlan',
 'Mercury',
 'Mitchell',
 'Monarch',
 'Monroe',
 'Moon',
 'Mosler',
 'Nash',
 'National',
 'Nyberg',
 'Oakland',
 'Oldsmobile',
 'Overland',
 'Packard',
 'Peerless',
 'Pierce-Arrow',
 'Pilot',
 'Plymouth',
 'Pontiac',
 'Pope-Toledo',
 'Pope-Tribune',
 'Premier',
 'Pungs Finch',
 'Rambler',
 'Rauch and Lang',
 'Regal',
 'REO',
 'Safari Coach',
 'Saturn',
 'Scion',
 'Scripps-Booth',
 'Simplex',
 'Speedwell',
 'Stanley',
 'Star',
 'Stearns-Knight',
 'Sterling',
 'Sterling Trucks',
 'Stevens-Duryea',
 'Stoddard-Dayton',
 'Studebaker',
 'Stutz',
 'TH!NK',
 'Thomas',
 'Tucker',
 'Vector',
 'VPG',
 'Velie',
 'Westcott',
 'White',
 'Willys',
 'Zimmer',
 'SAZ',
 'GM Uzbekistan',
 'Venirauto',
 'Thaco',
 'Mekong Auto',
 'VinFast',
 'World Auto']

In [6]:
companies = []
for elem in names:
  companies.append(elem.lower())

companies

['snvi',
 'zanella',
 'koller',
 'anasagasti',
 'autolatina',
 'autoar',
 'crespi',
 'eniak',
 'hispano-argentina',
 'iava',
 'iame',
 'ika',
 'sevel argentina',
 'siam di tella',
 'eraz',
 'ace ev group',
 'borland racing developments',
 'bolwell',
 'brabham automotive',
 'ford australia',
 'general motors special vehicles (gmsv)',
 'elfin sports cars',
 'ford performance vehicles (fpv)',
 'giocattolo',
 'holden',
 'ktm',
 'magna steyr',
 'puch',
 'tushek & spigel',
 'austro-daimler',
 'austro-tatra',
 'denzel',
 'felber',
 'libelle',
 'lohner–porsche',
 'möve',
 'öaf',
 'steyr',
 'steyr-daimler-puch',
 'azsamand',
 'ganja auto plant',
 'nakhchivan automobile plant',
 'bmtf',
 'belaz',
 'belgee',
 'maz',
 'moaz',
 'mzkt',
 'neman',
 'gillet',
 'van hool',
 'auto-mixte',
 'fn',
 'imperia',
 'métallurgique',
 'minerva',
 'nagant',
 'pieper',
 'agrale',
 'comil',
 'marcopolo',
 'mascarello',
 'neobus',
 'tac',
 'brasinca',
 'busscar',
 'dacon',
 'engesa',
 'fnm',
 'farus',
 'gurgel',
 'htt',
 'hofstetter',
 'jpx',
 'lobini',
 'obvio!',
 'puma',
 'romi',
 'santa matilde',
 'troller',
 'vemag',
 'bulgaralpine',
 'bulgarrenault',
 'moskvych',
 'pirin-fiat',
 'sofia',
 'bombardier',
 'campagna',
 'felino corporation',
 'intermeccanica',
 'inkas',
 'new flyer',
 'nova bus',
 'prevost',
 'terradyne',
 'acadian',
 'asüna',
 'beaumont',
 'bricklin',
 'brooks',
 'can-am',
 'dennis',
 'derby',
 'dupont',
 'dynasty',
 'envoy',
 'frontenac',
 'gray-dort',
 'hayes trucks',
 'manic',
 'mclaughlin',
 'meteor',
 'monarch',
 'orion',
 'pacific trucks',
 'passport',
 'redpath',
 'russell',
 'studebaker',
 'zenn',
 'arcfox',
 'aion',
 'apex motors',
 'baic',
 'baojun',
 'baw',
 'bestune',
 'brilliance',
 'byd',
 'changan',
 'changhe',
 'chery',
 'cnhtc',
 'dongfeng',
 'englon',
 'euauto',
 'everus',
 'faw',
 'hongqi',
 'foton',
 'gac fiat',
 'geely',
 'gonow',
 'great wall',
 'hafei',
 'haima',
 'hanteng',
 'hawtai',
 'haval',
 'heibao',
 'higer',
 'jac motors',
 'jiangling',
 'jinbei',
 'jonway',
 'karry',
 'landwind',
 'leahead',
 'lifan',
 'li auto',
 'luxgen',
 'nio',
 'qoros',
 'roewe',
 'saic',
 'sehol',
 'shacman',
 'soueast',
 'trumpchi',
 'wuling',
 'voyah',
 'xpeng',
 'yudo auto',
 'yutong',
 'zhongtong bus',
 'zinoro',
 'zotye',
 'zx auto',
 'dok-ing',
 'rimac',
 'škoda',
 'tatra',
 'avia',
 'kaipan',
 'mtx',
 'praga',
 'aero',
 'jawa',
 'liaz',
 'velorex',
 'walter fiat',
 'marathon motors engineering',
 'holland car',
 'valmet automotive',
 'electric raceabout',
 'toroidion',
 'sisu auto',
 'aixam',
 'alpine',
 'auverland',
 'bolloré',
 'bugatti',
 'citroën',
 'exagon',
 'hommell',
 'ligier',
 'microcar',
 'méga',
 'peugeot',
 'pgo',
 'renault',
 'venturi',
 'aérocarène',
 'bellanger',
 'berliet',
 'chenard-walcker',
 'decauville',
 'de dion-bouton',
 'delage',
 'delahaye',
 'delaunay-belleville',
 'facel vega',
 'helicron',
 'hommell',
 'lorraine-dietrich',
 'matra',
 'mors',
 'panhard',
 'rochet-schneider',
 'simca',
 'talbot',
 'talbot-lago',
 'alpina',
 'apollo',
 'artega',
 'audi',
 'bitter',
 'bmw',
 'daimler truck',
 'fuso',
 'isdera',
 'lotec',
 'man',
 'mercedes-benz',
 'multicar',
 'neoplan',
 'opel',
 'ruf',
 'porsche',
 'setra',
 'smart',
 'volkswagen',
 'wiesmann',
 'adler',
 'aga',
 'auto union',
 'aws',
 'awz',
 'barkas',
 'borgward',
 'brennabor',
 'büssing',
 'dauer',
 'dkw',
 'glas',
 'goliath',
 'gumpert',
 'hanomag',
 'hansa',
 'heinkel',
 'horch',
 'karmann',
 'lloyd',
 'maybach',
 'melkus',
 'messerschmitt',
 'nag',
 'nsu',
 'robur',
 'simson',
 'stoewer',
 'tempo',
 'trabant',
 'wanderer',
 'wartburg',
 'zundapp',
 'elvo',
 'korres',
 'namco',
 'replicar hellas',
 'sfakianakis',
 'tangalakis-temax',
 'alta',
 'attica',
 'autokinitoviomihania ellados',
 'automeccanica',
 'balkania',
 'bet',
 'biamax',
 'bioman',
 'dim',
 'mava-renault',
 'mebea',
 'neorion',
 'pan-car',
 'theologou',
 'ajanta group',
 'ashok leyland',
 'asia motorworks',
 'atul auto',
 'avani',
 'bajaj',
 'eicher',
 'force',
 'hindustan',
 'hradyesh',
 'icml',
 'kal',
 'mahindra',
 'maruti suzuki',
 'omega seiki mobility',
 'tara international',
 'tata',
 'tvs',
 'chinkara',
 'hero',
 'ideal jawa',
 'kinetic engineering limited',
 'lohia machinery',
 'mopeds india limited',
 'premier',
 'sipani',
 'standard',
 'swaraj mazda',
 'tmc',
 'alesbury',
 'crosslé',
 'shamrock (car)',
 'bahman',
 'iran khodro',
 'kish khodro',
 'mvm',
 'pars khodro',
 'saipa',
 'autocars',
 'carmor',
 'plasan',
 'abarth',
 'alfa romeo',
 'bremach',
 'casalini',
 'covini',
 'cts',
 'dr motor',
 'ducati',
 'ferrari',
 'fiat',
 'iso',
 'italdesign',
 'iveco',
 'lancia',
 'lamborghini',
 'maserati',
 'mazzanti',
 'minardi',
 'pagani',
 'piaggio',
 'pininfarina',
 'vespa',
 'zagato',
 'apis',
 'ansaldo',
 'aquila',
 'a.s.a.',
 'a.t.s.',
 'autobianchi',
 'aurea',
 'bandini',
 'bertone',
 'bizzarrini',
 'ceirano',
 'chiribiri',
 'cisitalia',
 'cizeta',
 'de tomaso',
 'diatto',
 'fca',
 'f.l.a.g.',
 'fornasari',
 'innocenti',
 'intermeccanica',
 'iso milano',
 'isotta fraschini',
 'itala',
 'junior',
 'lambretta',
 'lmx',
 'marca-tre-spade',
 'moretti',
 'nardi',
 'o.m.',
 'o.s.c.a.',
 'qvale',
 'scuderia ferrari',
 'rapid',
 's.c.a.t.',
 'siata',
 's.p.a.',
 'stanguellini',
 'storero',
 'vignale',
 'volugrafo',
 'zust',
 'acura',
 'aspark',
 'autobacs seven',
 'daihatsu',
 'dome',
 'glm',
 'hino',
 'honda',
 'infiniti',
 'isuzu',
 'kawasaki',
 'lexus',
 'mazda',
 'mitsubishi motors',
 'mitsubishi fuso',
 'mitsuoka',
 'nissan',
 'subaru',
 'suzuki',
 'tommykaira',
 'toyota',
 'ud trucks',
 'yamaha',
 'asahi',
 'autozam',
 'datsun',
 'eunos',
 'ohta',
 'otomo',
 'prince',
 'dartz',
 'bufori',
 'deftech',
 'inokom',
 'modenas',
 'naza',
 'perodua',
 'proton',
 'dina',
 'mastretta',
 'vuhl',
 'ramirez',
 'vam',
 'laraki',
 'renault somaca',
 'fiat somaca',
 'burton',
 'carver',
 'daf',
 'dakar',
 'donkervoort',
 'spijkstaal',
 'spyker',
 'stellantis',
 'vandenbrink',
 'vdl berkhof',
 'vencer',
 'anziel',
 'saker cars',
 'trekka',
 'pyeonghwa motors',
 'sungri motors',
 'samhung motors',
 'heavy industries taxila',
 'sazgar',
 'united auto industries',
 'adam motor company',
 'dewan farooque motors',
 'nexus automotive',
 'almazora motors',
 'del monte motors',
 'sarao motors',
 'delta',
 'amz',
 'arrinera',
 'autosan',
 'jelcz',
 'solaris',
 'ursus',
 'fsc żuk',
 'fsm',
 'fso',
 'fsr tarpan',
 'intrall',
 'polski fiat',
 'star',
 'syrena',
 'warszawa',
 'zsd nysa',
 'vinci',
 'bravia',
 'portaro',
 'umm',
 'edfor',
 'dacia',
 'roman',
 'aro',
 'oltcit',
 'rocar',
 'avtotor',
 'gaz',
 'izh',
 'kamaz',
 'lada',
 'liaz',
 'paz',
 'sollers',
 'uaz',
 'amur',
 'avtoframos',
 'derways',
 'gaz (volga)',
 'marussia',
 'moskvitch',
 'russo-balt',
 'seaz',
 'smz',
 'tagaz',
 'yo-mobile',
 'zil',
 'fap',
 'fas',
 'ikarbus',
 'imt',
 'neobus',
 'zastava',
 'ida',
 'yugo',
 'advanced automotive design',
 'perana performance group',
 'aad',
 'ct&t united',
 'daewoo bus',
 'genesis',
 'gm korea',
 'hyundai',
 'kia',
 'renault samsung',
 'ssangyong',
 'tata daewoo',
 'asia motors',
 'daewoo',
 'keohwa',
 'proto',
 'saehan',
 'samsung',
 'shinjin',
 'sibal',
 'abadal',
 'aspid',
 'cupra',
 'gta',
 'irizar',
 'seat',
 'spania',
 'tauro',
 'tramontana',
 'uro',
 'hispano suiza',
 'koenigsegg',
 'nevs',
 'polestar',
 'scania',
 'uniti',
 'volvo buses',
 'volvo cars',
 'volvo trucks',
 'jösse car',
 'saab',
 'leblanc',
 'rinspeed',
 'sbarro',
 'enzmann',
 'martini',
 'monteverdi',
 'pic-pic',
 'soletta',
 'cmc',
 'luxgen',
 'yulon',
 'thai rung',
 'bmc',
 'diardi',
 'erkunt',
 'etox',
 'fiat-tofaş',
 'fnss',
 'guleryuz',
 'karsan',
 'otokar',
 'özaltin',
 'pancar motor',
 'temsa',
 'togg',
 'anadol',
 'devrim',
 'bohdan',
 'etalon',
 'kraz',
 'laz',
 'zaz',
 'luaz',
 'w motors',
 'ajlani motors',
 'ac',
 'alexander dennis',
 'apex motors',
 'ariel',
 'aston martin',
 'atalanta motors',
 'bac',
 'bentley',
 'bowler',
 'caterham',
 'david brown automotive',
 'ginetta',
 'gkd',
 'grinnall',
 'healey',
 'jaguar',
 'lagonda',
 'larmar',
 'land rover',
 'lister',
 'lotus',
 'mclaren',
 'mg',
 'mini',
 'modec',
 'morgan',
 'noble',
 'radical sportscars',
 'rolls-royce',
 'ronart cars',
 'tvr',
 'ultima sports',
 'vauxhall',
 'westfield',
 "adam's brothers",
 'aec',
 'allard',
 'alvis',
 'austin',
 'austin-healey',
 'british leyland',
 'bristol',
 'daimler',
 'donald healey',
 'elva',
 'gordon keeble',
 'hillman',
 'humber',
 'jensen',
 'jowett',
 'lanchester',
 'marcos',
 'morris',
 'panther westwinds',
 'reliant motors',
 'riley',
 'rootes',
 'rover',
 'sharps commercials ltd',
 'singer',
 'standard',
 'sunbeam',
 'trident cars',
 'triumph',
 'trojan',
 'wolseley',
 'all american racers',
 'am general',
 'anteros coachworks',
 'aptera',
 'arcimoto',
 'autocar',
 'bremach',
 'buick',
 'cadillac',
 'callaway',
 'canoo',
 'chevrolet',
 'chrysler',
 'detroit electric',
 'dodge',
 'e-z-go',
 'eldorado',
 'enc',
 'falcon motorsports',
 'faraday',
 'fca',
 'fisker',
 'ford',
 'freightliner',
 'gillig',
 'gm',
 'google',
 'gem',
 'gmc',
 'hennessey',
 'jeep',
 'karma',
 'kenworth',
 'lincoln',
 'lordstown motors',
 'lucid motors',
 'mack',
 'mci',
 'navistar',
 'nikola motor',
 'oshkosh',
 'panoz',
 'peterbilt',
 'pierce',
 'polaris',
 'proterra',
 'ram',
 'raesr',
 'rezvani motors',
 'rivian',
 'rossion',
 'saleen',
 'scg',
 'shelby',
 'srt',
 'ssc',
 'tesla',
 'thomas built buses',
 'trion supercars',
 'vlf automotive',
 'western star',
 'workhorse',
 'adams-farwell',
 'alco',
 'amc',
 'amplex',
 'apollo',
 'apperson',
 'aptera',
 'arbenz',
 'auburn',
 'avanti motor company',
 'baker electric',
 'bates',
 'brush',
 'cartercar',
 'chalmers',
 'chandler',
 'chaparral cars',
 'checker',
 'clénet',
 'cole',
 'columbia',
 'continental',
 'cord',
 'crawford',
 'crosley',
 'cutting',
 'daniels',
 'davis',
 'devon',
 'delorean',
 'desoto',
 'diamond reo trucks',
 'doble',
 'dorris',
 'dort',
 'duesenberg',
 'durant',
 'dymaxion',
 'eagle',
 'edsel',
 'elgin',
 'essex',
 'excalibur',
 'flint',
 'frazer',
 'frontenac',
 'gardner',
 'geo',
 'graham-paige',
 'grumman',
 'haynes',
 'hudson',
 'hummer',
 'hupmobile',
 'hupp-yeats',
 'imperial',
 'international harvester',
 'inter-state',
 'jackson',
 'jeffery',
 'kaiser',
 'king',
 'kissel',
 'kline kar',
 'knox',
 'lafayette',
 'laforza',
 'lambert',
 'lasalle',
 'lexington',
 'local',
 'locomobile',
 'lozier',
 'lyons-knight',
 'marmon',
 'marmon',
 'marmon-herrington',
 'maxwell',
 'mcfarlan',
 'mercury',
 'mitchell',
 'monarch',
 'monroe',
 'moon',
 'mosler',
 'nash',
 'national',
 'nyberg',
 'oakland',
 'oldsmobile',
 'overland',
 'packard',
 'peerless',
 'pierce-arrow',
 'pilot',
 'plymouth',
 'pontiac',
 'pope-toledo',
 'pope-tribune',
 'premier',
 'pungs finch',
 'rambler',
 'rauch and lang',
 'regal',
 'reo',
 'safari coach',
 'saturn',
 'scion',
 'scripps-booth',
 'simplex',
 'speedwell',
 'stanley',
 'star',
 'stearns-knight',
 'sterling',
 'sterling trucks',
 'stevens-duryea',
 'stoddard-dayton',
 'studebaker',
 'stutz',
 'th!nk',
 'thomas',
 'tucker',
 'vector',
 'vpg',
 'velie',
 'westcott',
 'white',
 'willys',
 'zimmer',
 'saz',
 'gm uzbekistan',
 'venirauto',
 'thaco',
 'mekong auto',
 'vinfast',
 'world auto']

In [7]:
df_rev.isna().sum()

date           0
user_id        0
review_text    6
dtype: int64

In [8]:
df_rev = df_rev.dropna()

In [9]:
df_rev.isna().sum()

date           0
user_id        0
review_text    0
dtype: int64

In [10]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [11]:
pos = []
for word in range(len(df_rev)):
  tag = df_rev.iloc[word, 2]
  tokens = nltk.word_tokenize(tag)
  pos_tag = nltk.pos_tag(tokens)
  pos.append(pos_tag)

df_rev['pos'] = pos
df_rev.head()

,date,user_id,review_text,pos
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ..."
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ..."
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b...","[(Yeah, UH), (,, ,), (Florida, NNP), (too, RB)..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...,"[(At, IN), (least, JJS), (20, CD), (%, NN), (b..."
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...,"[(Diesel, NNP), (in, IN), (NY, NNP), (and, CC)..."

In [12]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
regular_punct = list(string.punctuation)
def remove_punctuation(text,punct_list):
    for punc in punct_list:
        if punc in text:
            text = list(map(lambda x: x.replace(punc,''),text))
    return text

In [14]:
pos_wo_punc = []
for word in range(len(df_rev)):
  new_label = remove_punctuation([l[0] for l in df_rev.iloc[word, 3]], regular_punct)
  pos_wo_punc.append(new_label)

df_rev['pos wo punc'] = pos_wo_punc
df_rev.head()

,date,user_id,review_text,pos,pos wo punc
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ..."
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ..."
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b...","[(Yeah, UH), (,, ,), (Florida, NNP), (too, RB)...","[Yeah, , Florida, too, , Diesel, almost, never..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...,"[(At, IN), (least, JJS), (20, CD), (%, NN), (b...","[At, least, 20, , better, mpg, number, before,..."
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...,"[(Diesel, NNP), (in, IN), (NY, NNP), (and, CC)...","[Diesel, in, NY, and, CT, are, always, higher,..."

In [15]:
from nltk.corpus import stopwords

In [16]:
nltk.download('all')

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/abc.zip.
[nltk_data]    | Downloading package alpino to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/alpino.zip.
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping
[nltk_data]    |       taggers/averaged_perceptron_tagger_ru.zip.
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/basque_grammars.zip.
[nltk_data]    | Downloading package bcp47 to /root/nltk_data...
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/biocreative_ppi.zip.
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/bllip_wsj_no_aux.zip.
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/book_grammars.zip.
[nltk_data]    | Downloading package brown to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown.zip.
[nltk_data]    | Downloading package brown_tei to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/brown_tei.zip.
[nltk_data]    | Downloading package cess_cat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_cat.zip.
[nltk_data]    | Downloading package cess_esp to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cess_esp.zip.
[nltk_data]    | Downloading package chat80 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/chat80.zip.
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/city_database.zip.
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/comparative_sentences.zip.
[nltk_data]    | Downloading package comtrans to /root/nltk_data...
[nltk_data]    | Downloading package conll2000 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2000.zip.
[nltk_data]    | Downloading package conll2002 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/conll2002.zip.
[nltk_data]    | Downloading package conll2007 to /root/nltk_data...
[nltk_data]    | Downloading package crubadan to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/crubadan.zip.
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dependency_treebank.zip.
[nltk_data]    | Downloading package dolch to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/dolch.zip.
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/europarl_raw.zip.
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package floresta to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/floresta.zip.
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v15.zip.
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/framenet_v17.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package ieer to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ieer.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package indian to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/indian.zip.
[nltk_data]    | Downloading package jeita to /root/nltk_data...
[nltk_data]    | Downloading package kimmo to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/kimmo.zip.
[nltk_data]    | Downloading package knbc to /root/nltk_data...
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/large_grammars.zip.
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/lin_thesaurus.zip.
[nltk_data]    | Downloading package mac_morpho to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mac_morpho.zip.
[nltk_data]    | Downloading package machado to /root/nltk_data...
[nltk_data]    | Downloading package masc_tagged to /root/nltk_data...
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/maxent_treebank_pos_tagger.zip.
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/moses_sample.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package mte_teip5 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/mte_teip5.zip.
[nltk_data]    | Downloading package mwa_ppdb to /root/nltk_data...
[nltk_data]    |   Unzipping misc/mwa_ppdb.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package nombank.1.0 to /root/nltk_data...
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nonbreaking_prefixes.zip.
[nltk_data]    | Downloading package nps_chat to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/nps_chat.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    | Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/opinion_lexicon.zip.
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package paradigms to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/paradigms.zip.
[nltk_data]    | Downloading package pe08 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pe08.zip.
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping misc/perluniprops.zip.
[nltk_data]    | Downloading package pil to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pil.zip.
[nltk_data]    | Downloading package pl196x to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pl196x.zip.
[nltk_data]    | Downloading package porter_test to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/porter_test.zip.
[nltk_data]    | Downloading package ppattach to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ppattach.zip.
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/problem_reports.zip.
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_1.zip.
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/product_reviews_2.zip.
[nltk_data]    | Downloading package propbank to /root/nltk_data...
[nltk_data]    | Downloading package pros_cons to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/pros_cons.zip.
[nltk_data]    | Downloading package ptb to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ptb.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package qc to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/qc.zip.
[nltk_data]    | Downloading package reuters to /root/nltk_data...
[nltk_data]    | Downloading package rslp to /root/nltk_data...
[nltk_data]    |   Unzipping stemmers/rslp.zip.
[nltk_data]    | Downloading package rte to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/rte.zip.
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/sample_grammars.zip.
[nltk_data]    | Downloading package semcor to /root/nltk_data...
[nltk_data]    | Downloading package senseval to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/senseval.zip.
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentence_polarity.zip.
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sentiwordnet.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/sinica_treebank.zip.
[nltk_data]    | Downloading package smultron to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/smultron.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping grammars/spanish_grammars.zip.
[nltk_data]    | Downloading package state_union to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/state_union.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/subjectivity.zip.
[nltk_data]    | Downloading package swadesh to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/swadesh.zip.
[nltk_data]    | Downloading package switchboard to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/switchboard.zip.
[nltk_data]    | Downloading package tagsets to /root/nltk_data...
[nltk_data]    |   Unzipping help/tagsets.zip.
[nltk_data]    | Downloading package timit to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/timit.zip.
[nltk_data]    | Downloading package toolbox to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/toolbox.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package udhr to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr.zip.
[nltk_data]    | Downloading package udhr2 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/udhr2.zip.
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/unicode_samples.zip.
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/universal_tagset.zip.
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package verbnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet.zip.
[nltk_data]    | Downloading package verbnet3 to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/verbnet3.zip.
[nltk_data]    | Downloading package webtext to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/webtext.zip.
[nltk_data]    | Downloading package wmt15_eval to /root/nltk_data...
[nltk_data]    |   Unzipping models/wmt15_eval.zip.
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping models/word2vec_sample.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    | Downloading package wordnet2021 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet31 to /root/nltk_data...
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package ycoe to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/ycoe.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [17]:
stop_words = nltk.corpus.stopwords.words('english')

In [18]:
text = df_rev.iloc[1, 2]
filtered_text = [w for w in text if not w.lower() in stop_words]

In [19]:
def remove_stopwords(text,stop_words):
    for word in stop_words:
        if word in text:
            text = list(map(lambda x: x.replace(word,''),text))
    return text

In [20]:
pos_wo_sw = []
for word in range(len(df_rev)):
  filtered_text = [w.lower() for w in df_rev.iloc[word, 4] if not w.lower() in stop_words]
  pos_wo_sw.append(filtered_text)

df_rev['pos wo sw'] = pos_wo_sw
df_rev.head()

,date,user_id,review_text,pos,pos wo punc,pos wo sw
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415..."
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415..."
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b...","[(Yeah, UH), (,, ,), (Florida, NNP), (too, RB)...","[Yeah, , Florida, too, , Diesel, almost, never...","[yeah, , florida, , diesel, almost, never, fal..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...,"[(At, IN), (least, JJS), (20, CD), (%, NN), (b...","[At, least, 20, , better, mpg, number, before,...","[least, 20, , better, mpg, number, even, give,..."
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...,"[(Diesel, NNP), (in, IN), (NY, NNP), (and, CC)...","[Diesel, in, NY, and, CT, are, always, higher,...","[diesel, ny, ct, always, higher, 93, octane, l..."

In [21]:
lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(treebank_tag):

    if treebank_tag.startswith('J'):
        return wordnet.ADJ
    elif treebank_tag.startswith('V'):
        return wordnet.VERB
    elif treebank_tag.startswith('N'):
        return wordnet.NOUN
    elif treebank_tag.startswith('R'):
        return wordnet.ADV
    else:
        return ''

In [ ]:
def tokenize_pos(sent):  
        return (pos_tag(wordpunct_tokenize(sent)))
def is_stopword(token):   
        return token.lower() in set(nltk.corpus.stopwords.words('english'))
    
def is_punct(token):
    regular_punct = list(string.punctuation)
    return all([char not in list(string.punctuation) for char in token])

In [22]:
final = []
for i in range(len(df_rev)):
  res = [ lemmatizer.lemmatize(i) for i in df_rev.iloc[i, 5] ]
  final.append(res)

df_rev['final'] = final
df_rev.head()

,date,user_id,review_text,pos,pos wo punc,pos wo sw,final
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415...","[local, shell, premium, , 395, , diesel, , 415..."
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415...","[local, shell, premium, , 395, , diesel, , 415..."
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b...","[(Yeah, UH), (,, ,), (Florida, NNP), (too, RB)...","[Yeah, , Florida, too, , Diesel, almost, never...","[yeah, , florida, , diesel, almost, never, fal...","[yeah, , florida, , diesel, almost, never, fal..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...,"[(At, IN), (least, JJS), (20, CD), (%, NN), (b...","[At, least, 20, , better, mpg, number, before,...","[least, 20, , better, mpg, number, even, give,...","[least, 20, , better, mpg, number, even, give,..."
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...,"[(Diesel, NNP), (in, IN), (NY, NNP), (and, CC)...","[Diesel, in, NY, and, CT, are, always, higher,...","[diesel, ny, ct, always, higher, 93, octane, l...","[diesel, ny, ct, always, higher, 93, octane, l..."

In [ ]:
count = []

for elem in companies:
  num = 0
  for i in range(len(df_rev)):
    if elem in df_rev.iloc[i, 6]:
      num+=1
  count.append(num)

len(count)

882

In [ ]:
df_comp['frequency'] = count
df_comp.sort_values('frequency', axis = 0, ascending = False, inplace = True)
df_comp.head(6)

    manufacturer  frequency
237          BMW       1366
235         Audi        938
413        Acura        598
566         SEAT        420
424        Lexus        315
421     Infiniti        299

The top 5 most mentioned brands in the discussion are 'BMW', 'Audi', 'Acura', 'Lexus', and 'Infiniti'. SEAT was neglected because of its simiar spelling with the word 'seat' but the spelling for Infiniti is different from the word 'Infinity'.

In [ ]:
comp1 = []
comp2 = []

for m in range(len(companies)):
  for i in range(len(df_rev)):
    if companies[m] in df_rev.iloc[i, 6]:
      for n in range(m+1, len(companies)):
        if companies[n] in df_rev.iloc[i, 6]:
          comp1.append(companies[m])
          comp2.append(companies[n])

print(len(comp1))
print(len(comp2))

10566
10566

In [ ]:
co_count = []

for m in range(len(comp1)):
  co_num = 0
  for i in range(len(df_rev)):
    if (comp1[m] in df_rev.iloc[i, 6]) and (comp2[m] in df_rev.iloc[i, 6]):
      co_num+=1
      continue
  co_count.append(co_num)
  continue

print(len(co_count))

10566

In [ ]:
df_co_mentions = pd.DataFrame(
    {
        'company1': comp1,
     'company2': comp2,
     'frequency': co_count
    }
)
df_co_mentions.head()

  company1  company2  frequency
0       fn   lincoln          1
1       fn      audi         18
2       fn       bmw         37
3       fn     acura         13
4       fn  infiniti          6

In [ ]:
df_unique = df_co_mentions.drop_duplicates(subset='frequency')
df_unique.head()
df_unique.sort_values('frequency', ascending = False).head()

      company1  company2  frequency
238       audi       bmw        437
5351  standard  standard        287
256       audi     acura        235
2533       bmw     acura        205
2553       bmw     lexus        163

The top 3 most co-mentioned brands are Audi-BMW, Audi-Acura, and BMW-Acura. It is worth mentioning that 'Standard' is neglected since it is defunct. Also, distinguishing the word 'standard' from the company names 'Standard' is very challenging.

In [ ]:
attributes = []
att_for_count = []

for i in range(len(df_rev)):
  att = []
  for (w,t) in df_rev.iloc[i, 3]:
    if t.startswith('N'):
      att.append(w.lower())
      att_for_count.append(w.lower())
  attributes.append(att)

len(attributes)

5994

In [ ]:
df_rev['attributes'] = attributes
df_rev.head()

,date,user_id,review_text,pos,pos wo punc,pos wo sw,final,attributes
0,"March 28, 2013 8:26AM",411014,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415...","[local, shell, premium, , 395, , diesel, , 415...","[shell, diesel, diesel, fuel]"
1,"March 28, 2013 8:30AM",410957,My local Shell has Premium at $3.95. Diesel is...,"[(My, PRP$), (local, JJ), (Shell, NNP), (has, ...","[My, local, Shell, has, Premium, at, , 395, , ...","[local, shell, premium, , 395, , diesel, , 415...","[local, shell, premium, , 395, , diesel, , 415...","[shell, diesel, diesel, fuel, same, colorado, ..."
2,"March 28, 2013 9:07AM",170375,"Yeah, Florida too. Diesel almost never falls b...","[(Yeah, UH), (,, ,), (Florida, NNP), (too, RB)...","[Yeah, , Florida, too, , Diesel, almost, never...","[yeah, , florida, , diesel, almost, never, fal...","[yeah, , florida, , diesel, almost, never, fal...","[florida, diesel, time, gasoline, gallon, cent..."
3,"March 28, 2013 9:30AM",410957,At least 20% better mpg number before I even g...,"[(At, IN), (least, JJS), (20, CD), (%, NN), (b...","[At, least, 20, , better, mpg, number, before,...","[least, 20, , better, mpg, number, even, give,...","[least, 20, , better, mpg, number, even, give,...","[%, mpg, number, time, day, type, car, for.my,..."
4,"March 28, 2013 11:18AM",409817,Diesel in NY and CT are always higher than 93 ...,"[(Diesel, NNP), (in, IN), (NY, NNP), (and, CC)...","[Diesel, in, NY, and, CT, are, always, higher,...","[diesel, ny, ct, always, higher, 93, octane, l...","[diesel, ny, ct, always, higher, 93, octane, l...","[diesel, ny, ct, octane, gallon]"

In [ ]:
Counter(att_for_count).most_common(6)

[('car', 4522),
 ('cars', 2444),
 ('bmw', 2373),
 ('audi', 1743),
 ('time', 1319),
 ('s4', 1135)]

In [ ]:
from collections import Counter

not_wanted = ['car', 'cars', 'people', 's4', 'way', '%', 'tlx', 'year', 'lot', 'tl']

final_atts = []
for elem in att_for_count:
  if (elem not in companies) and (elem not in not_wanted):
    final_atts.append(elem)

Counter(final_atts).most_common(6)

[('time', 1319),
 ('price', 1029),
 ('years', 1017),
 ('dealer', 920),
 ('miles', 793),
 ('sport', 702)]

According to the results, it can be concluded that the most mentioned attributes of cars in the discussion are time, price, years, dealer, miles, and sport. It can be concluded that years and miles are referring to durability, time refers to comfort, dealer refers to maintenance/post-sales service, and sport refers to the car style.

In [23]:
top_brands = ['bmw', 'audi', 'acura', 'lexus', 'infiniti']
atts_final = ['time', 'price', 'years', 'dealer', 'sport']

all_freq = []
for elem1 in top_brands:
  freq = []
  for elem2 in atts_final:
    atts_brands_count = 0
    for i in range(len(df_rev)):
      if (elem1 in df_rev.iloc[i, 6]) and (elem2 in df_rev.iloc[i, 6]):
        atts_brands_count+=1
    freq.append(atts_brands_count)
  all_freq.append(freq)

In [24]:
all_freq

[[371, 313, 0, 300, 255],
 [326, 247, 0, 262, 174],
 [183, 125, 0, 133, 88],
 [104, 93, 0, 70, 64],
 [91, 76, 0, 81, 59]]

In [25]:
df_brand_attr = pd.DataFrame(
    {
      'word': atts_final,
     'bmw': all_freq[0],
     'audi': all_freq[1],
     'acura': all_freq[2],
     'lexus': all_freq[3],
     'infiniti': all_freq[4]
    }
)
df_brand_attr

     word  bmw  audi  acura  lexus  infiniti
0    time  371   326    183    104        91
1   price  313   247    125     93        76
2   years    0     0      0      0         0
3  dealer  300   262    133     70        81
4   sport  255   174     88     64        59

I understand that having zero values for a word does not make sense but I changed the word (for example replacing it with dealer, which we already know its frequency) and the values were correct. Therefore, I think the code is correct. To test this hypothesis, I will include the result of replacing the third word with 'dealer', which its result is known, as well as new words such as 'best' or 'great'.

In [28]:
top_brands = ['bmw', 'audi', 'acura', 'lexus', 'infiniti']
atts_valid = ['time', 'price', 'dealer', 'dealer', 'sport']

all_freq_valid = []
for elem1 in top_brands:
  freq_valid = []
  for elem2 in atts_valid:
    atts_brands_count_valid = 0
    for i in range(len(df_rev)):
      if (elem1 in df_rev.iloc[i, 6]) and (elem2 in df_rev.iloc[i, 6]):
        atts_brands_count_valid+=1
    freq_valid.append(atts_brands_count_valid)
  all_freq_valid.append(freq_valid)

df_valid = pd.DataFrame(
    {
      'word': atts_valid,
     'bmw': all_freq_valid[0],
     'audi': all_freq_valid[1],
     'acura': all_freq_valid[2],
     'lexus': all_freq_valid[3],
     'infiniti': all_freq_valid[4]
    }
)
df_valid

     word  bmw  audi  acura  lexus  infiniti
0    time  371   326    183    104        91
1   price  313   247    125     93        76
2  dealer  300   262    133     70        81
3  dealer  300   262    133     70        81
4   sport  255   174     88     64        59

In [29]:
top_brands = ['bmw', 'audi', 'acura', 'lexus', 'infiniti']
atts_test = ['time', 'price', 'best', 'dealer', 'sport']

all_freq_test = []
for elem1 in top_brands:
  freq_test = []
  for elem2 in atts_test:
    atts_brands_count_test = 0
    for i in range(len(df_rev)):
      if (elem1 in df_rev.iloc[i, 6]) and (elem2 in df_rev.iloc[i, 6]):
        atts_brands_count_test+=1
    freq_test.append(atts_brands_count_test)
  all_freq_test.append(freq_test)

df_test = pd.DataFrame(
    {
      'word': atts_test,
     'bmw': all_freq_test[0],
     'audi': all_freq_test[1],
     'acura': all_freq_test[2],
     'lexus': all_freq_test[3],
     'infiniti': all_freq_test[4]
    }
)
df_test

     word  bmw  audi  acura  lexus  infiniti
0    time  371   326    183    104        91
1   price  313   247    125     93        76
2    best  114   103     83     35        51
3  dealer  300   262    133     70        81
4   sport  255   174     88     64        59

In [32]:
top_brands = ['bmw', 'audi', 'acura', 'lexus', 'infiniti']
atts_test = ['time', 'price', 'great', 'dealer', 'sport']

all_freq_test = []
for elem1 in top_brands:
  freq_test = []
  for elem2 in atts_test:
    atts_brands_count_test = 0
    for i in range(len(df_rev)):
      if (elem1 in df_rev.iloc[i, 6]) and (elem2 in df_rev.iloc[i, 6]):
        atts_brands_count_test+=1
    freq_test.append(atts_brands_count_test)
  all_freq_test.append(freq_test)

df_test = pd.DataFrame(
    {
      'word': atts_test,
     'bmw': all_freq_test[0],
     'audi': all_freq_test[1],
     'acura': all_freq_test[2],
     'lexus': all_freq_test[3],
     'infiniti': all_freq_test[4]
    }
)
df_test

     word  bmw  audi  acura  lexus  infiniti
0    time  371   326    183    104        91
1   price  313   247    125     93        76
2   great  153   170     95     44        47
3  dealer  300   262    133     70        81
4   sport  255   174     88     64        59

According to the test results, it seems the word 'years' is not co-mentioned with our top brands despite being among the most frequent words in the whole dataset.

To find the most aspirational brand, I will extract positive comments and analyze them. The most mentioned brand in positive comments would be the most aspirational brand for people to buy or own.

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

I did some experiments with SentimentIntensityAnalyzer and it seems positive sentences usually have a compound polarity score of more than 0.5. The compound polarity score may exceed 0.6 for very positive sentences. Therefore, I will extract comments with a compound polarity score of more than 0.6 and look for the most mentioned brands in those comments.

In [ ]:
pos_comments = []

for i in range(len(df_rev)):
  if sia.polarity_scores(df_rev.iloc[i, 2])["compound"] > 0.6:
    pos_comments.append(df_rev.iloc[i, 2].lower())

len(pos_comments)

2710

In [ ]:
pos_count = []

for elem in companies:
  num = 0
  for i in range(len(pos_comments)):
    if elem in pos_comments[i]:
      num+=1
  pos_count.append(num)

len(pos_count)

882

In [ ]:
df_aspiration = pd.DataFrame(
    {
        'company': companies,
        'frequency of mentions in positive comments': pos_count
    }
)
df_aspiration.sort_values('frequency of mentions in positive comments', ascending = False).head(10)

    company  frequency of mentions in positive comments
617      ac                                        1913
242     man                                        1112
237     bmw                                         877
806    king                                         836
297     bet                                         797
235    audi                                         710
700     enc                                         609
623     bac                                         545
413   acura                                         443
254     aga                                         359

Since ac can also stand for air conditioning and man does not necessarily refer to the car manufacturer named man, the counts for these two companies (as well as some other words like king) may be unreliable. 
Therefore, it can be concluded than 'BMW' is the most aspirational brand for people to buy or own.

# Insights

From a marketing perspective, the more a brand is mentioned, the more it is mentioned with the most mentioned attributes. It can be hypothesized that more popular brands put more effort into attributes that matter to customers. In other words, identifying customer needs and focusing on them can help a brand become more popular. Also, analyzing the ratio of a brand's mentions in positive comments to its overall mentions can help segment the market and identify competitors.

From a technical point of view, distinguishing brand (like standard or man) or product (like s4) names can help improve the quality analysis and reliability of insights gained based on the results.